<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-feature android:name="android.hardware.usb.host" android:required="false"/>
    <application android:usesCleartextTraffic="true">
        <!-- GameStream discovery/pairing uses HTTP 47989; video/control are native protocols. -->
        <activity android:name="id.xycloud.stream.XyGameActivity" android:exported="false"
            android:screenOrientation="sensorLandscape" android:theme="@style/StreamTheme"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:resizeableActivity="true" android:enableOnBackInvokedCallback="false"/>
        <activity android:name="id.xycloud.stream.ReferralActivity"
            android:exported="true" android:noHistory="true" android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="xycloudstore" android:host="referral"/>
            </intent-filter>
        </activity>
        <service android:name="com.limelight.binding.input.driver.UsbDriverService" android:exported="false"/>
        <service android:name="com.limelight.computers.ComputerManagerService" android:exported="false"/>
        <service android:name="com.limelight.discovery.DiscoveryService" android:exported="false"/>
    </application>
</manifest>
